%ms-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

%ms-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%ms-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

%ms-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%ms-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%ms-extrabold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
